.App {
  text-align: center;
  padding: 60px;
  background-color: #e4e4e4;
  width: 100%;
  min-height: 100vh;
  color: #0b0b0b;
}


.main {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #9e9e9e;
}

.main .App-header {
  padding: 80px 30px;
}

.App h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.App .App-header h2 {
  font-size: 36px;
  font-weight: normal;
}

.App form {
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
}

.form-input {
  padding: 10px;
  font-size: 16px;
  width: 700px;
  border-radius: 8px;
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-input:focus {
  outline: none;
  border-color: #00565f;
  box-shadow: 0 0 5px rgba(0, 86, 95, 0.5);
}

.btn-submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00565f;
  color: white;
  border-radius: 8px;
  border: 1px solid #00565f;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-submit:hover {
  background-color: #00494d;
  color: white;
}

.Results {
  margin: 80px 0;
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 40px;
}

.Results h2 {
  font-size: 70px;
}

.Results h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}


.Meaning {
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.Meaning .partOfSpeech {
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 600;
}

.Meaning .definition {
  font-size: 18px;
  margin-bottom: 5px;
}

.Meaning .example, .Meaning .synonyms, .Meaning .antonyms {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
}


footer a {
  color: #00565f;
  text-decoration: none;
}