.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos-gallery {
  display: flex;
  align-items: stretch;
  gap: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
}

.photos-row {
  display: flex;
  flex: 4;
  gap: 10px;
}

.last-row {
  flex: 1;
  display: flex;
}

.photo {
  flex: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.photo:hover {
  transform: scale(0.9);
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 976px) {

  .photos-gallery {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .photos-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .last-row .photo {
    flex: none;
    width: calc(50% - 10px);
  }
}
